.progress-bar .bar {
    -fx-accent: #2cb2d3;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

#btnClose:hover, #btnMinimize:hover {
    -fx-border-color: #ffffff;
}

#labelRoot {
    -fx-border-color: #333333;
    -fx-effect: innershadow(gaussian, #333333, 1.0, 1.0, 1.0, 1.0);
}

